rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {         
    match /publico/{document} {
     // Dios te ama amig@
    } // Acceso lectura general 
    
  }
}